.teamwork {

  ul {
    margin: 0;
  }

  li {
    margin: 0;
  }

  .text {
    font: $Regular 18px/22px 'assistant';
  }
  .text-bold {
    margin-top: 50px;
    font: $Bold 18px/22px 'assistant';
  }
}
