<div class = "">
  <h3 class = "">{{#str}}how_studens_each_team, filter_teamwork{{/str}}</h3>
  <label>
    <p>{{#str}}student_in_each_group, filter_teamwork{{/str}}</p>
    <input id = "student_number" type = "number" value = "{{num_students}}">
  </label>
  <br>

  <button data-handler = "random" class = "btn-primary">{{#str}}make_teams, filter_teamwork{{/str}}</button>
</div>
